*{
     margin: 0;
     padding: 0;
    }
    header{
     background-color: rgba(10, 204, 74, 0.425);
     width: 100%;
    }
    header h1{
     text-align: center;
     color: blue;
     padding: 20px;
     text-shadow: 10px 10px 5px rgb(128, 0, 111);
    }
    NAV UL{
     background-color: brown;
     width: 100%;
    }
    nav ul li{
     display: inline-flex;
    }
    nav ul li a{
    text-decoration-line: none;
    color: aliceblue;
    padding: 10px;
    width: 150px;
    transition-property: all;
    transition-duration: 1800ms;
    }
    nav ul li a:hover{
     background-color: white;
     color: #757575;
    }
    
